# Supabase
VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-publica
VITE_SUPABASE_STORAGE_BUCKET=dantas-images
VITE_ADMIN_EMAIL=markoskuiz@gmail.com

# WhatsApp
VITE_WHATSAPP_NUMBER=5585999999999
